.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 480px;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form div div {
  width: 480px;
}

.form div div div div {
  width: unset;
}

.link {
  text-decoration: none;
  color: #4c4cff;
}

.text {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
