.container {
  display: flex;
  flex-direction: row;
  height: 56px;
  margin-left: 24px;
  margin-right: 20px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.container:first-of-type {
  margin-left: 0;
}

.title {
  color: #8585ad;
}

.title_active {
  color: #f2f2f3;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  color: #8585ad;
}

.link:nth-of-type(2) {
  padding-right: 112px;
}

.link:last-of-type {
  padding-left: 288px;
}

.link_active {
  color: #f2f2f3;
}