.sidebar {
  max-width: 635px;
  height: 696px;
  margin-top: 49px;

}

.list__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 50px;
 
}


.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.drag__list {
  list-style: none;
  cursor: grab;
}

.list__item:first-of-type {
 padding-right: 35px;
 padding-left: 75px;
}

.list__item:last-of-type {
 padding-right: 35px;
 padding-left: 75px;
 margin-top: 12px;
}

.item{
  display: flex;
  flex-direction: row;
  gap: 13.5px;
  align-items: center;
  margin-bottom: 15px;
  float: right;
  
}

.empty__item {
  padding: 0 24px 15px 24px;
  display: inline-block;
  margin-bottom: 15px;
  background: var(--background-element);
  max-width: 488px;
  min-height: 48px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  line-height: 24px;
  color: #F2F2F3;
  flex-grow: 1;
  text-align: center;
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5),
  0 0 8px rgba(51, 51, 255, 0.25);
}

.empty__item_top {
  border-radius: 88px 88px 40px 40px;
}

.empty__item_bottom {
  border-radius: 40px 40px 88px 88px;
}
.background {
 background: url('../../images/background1.png') 1000% 90%;
 width: 100%;
 height: 90%;
}

.scroll {
  height: 367px;
  overflow-y: auto;
  margin-right: 15px;
  padding-right: 15px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 492px;
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  height: 292px;
}

.price__container {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: center;
  float: right;
  margin-right: 35px;
  margin-top: 15px;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
